

@media only screen  and (max-width:1220px){
    
    .header__navbar_menu{
        display: none;
    }
    .header__navbar-list1{
        display: none;
    }
    .Banner_title{
        top: 220px;
    }
    .Banner_title-1{
        font-size: 40px;
    }
    .Banner_title-text{
        font-size: 15px;
    }
    .Banner_title-text1{
        font-size: 15px;
    }
    .Banner-button{
        margin-bottom: 20px;
    }
    .nav__bars{
    margin: 35px -50px 0 0;
    display: block;
    }
    .as_seen_on_img{
        padding-left: 110px;
        display: block;
        height: auto;
    }
    
    .as_seen_on_banner_title{
        top: 40px;
        padding-left: 140px;
    }
    .as_seen_on_banner_title_1{
        font-size: 37px;
    }
    .as_seen_on_banner_title_text{
        font-size: 12px;
        line-height: 22px;
    }
    .as_seen_on_button button{
        height: 42px;
        width: 142px;
    }
    .still_have_questions_button {
        margin: none;
    }
    .parent_approved {
        height: 1530px;
    }
    .parent_approved_video{
        width: 50%;
    }
    .still_have_questions_button_text {
        padding-left: 55px;
    }
    .enter__button {
        padding: 0;
        margin-left: 30px;
    }
    
}
@media only screen  and (max-width:1075px){
    .Banner_title-1{
        font-size: 33px;
    }
    .Banner_title-text{
        font-size: 13px;
    }
    .Banner_title-text1{
        font-size: 13px;
    }
    .Banner-button{
        margin-bottom: 20px;
    }
        .header__navbar-logo1{
        margin-left: -55px;
    }
    .what_you_get_layout{
        display: block;
    }
    .what_you_get_layout p{
        padding: 0 300px 0 300px;
    }
    .as_seen_on_img{
        padding-left: 125px; 
    }
    .as_seen_on_banner_title{
        top: 25px;
        padding-left: 115px;
    }
    .as_seen_on_banner_title_1{
        font-size: 30px;
    }
    .as_seen_on_banner_title_text{
        font-size: 11px;
        line-height: 20px;
    }
    .as_seen_on_button button{
        height: 35px;
        width: 130px;
    }
    .our_process_img{
        padding-left: 110px;
        
    }
    .our_process_title h1{
        width: 300px;
    }
    .our_process_title{
        margin-left: 70px;
    }
    .still_have_questions_button_text {
        padding-left: 25px;
    }
   
    .enter__button {
        padding: 0;
        margin-left: 40px;
    }
    
}
@media only screen  and (max-width: 1000px){
    .still_have_questions_button_text_button {
        
        font-size: 17px;
        width: 720px;
        height: 45px;
    }
    .still_have_questions_button_text h3 {
        font-size: 17px;
        width: 705px;
    }
    .still_have_questions_button_text img {
        width: 705px;
    }
    .still_have_questions_button_text {
        padding-left: 110px;
    }
    .still_have_questions_button_text p {
        width: 690px;
    }
    .enter__button_1 {
        font-size: 14px;
        padding-left: 25px;
        border-radius: 50px;
        width: 290px;
        height: 45px;
    }
    .enter__vb {
        width: 320px;
        font-size: 10px;
        text-align: center;
        list-style: none;
    }
}
@media only screen  and (max-width: 890px){

    .Banner_title{
        top: 200px;
    }
    .Banner_title-1{
        font-size: 27px;
    }
    .Banner_title-text{
        font-size: 11px;
    }
    .Banner_title-text1{
        font-size: 11px;
    }
    .Banner-button {
        font-size: 11px;
    }
    .what_you_get_layout{
        display: block;
    }
    .what_you_get_layout p{
        padding: 0 200px 0 200px;
    }
    .as_seen_on_img{
        padding-left: 100px;
    }
    .as_seen_on_banner_title{
        top: 25px;
        padding-left: 95px;
    }
    .as_seen_on_banner_title_1{
        font-size: 25px;
    }
    .as_seen_on_banner_title_text{
        font-size: 10px;
        line-height: 13px;
        width: 250px;
        margin-top: -10px;
    }
    .as_seen_on_button button{
        height: 25px;
        width: 100px;
        font-size: 10px;
        border: 1px solid #10592e;
    }
    .our_process_img{
        padding-left: 70px;
    }
    .our_process_img img {
        width: 300px;
    }
    .our_process_title {
        margin-left: 30px;
        margin-top: 85px;
    }
    .our_process_title h1{
        font-size: 35px;
    }
    .our_process_text{
        font-size: 12px;
    }
    .our_process_text_p2{
        padding-top: 15px ;
    }
    .our_process_button button{
        border: 1.5px solid #10592e;
        height: 32px;
        width: 125px;
        font-size: 11px;
    }
    .still_have_questions_button_text {
        padding-left: 85px;
    }
    .still_have_questions_button_text_button {
        
        font-size: 17px;
        width: 620px;
        height: 45px;
    }
    .still_have_questions_button_text h3 {
        font-size: 20px;
        width: 610px;
    }
    .still_have_questions_button_text img {
        width: 610px;
    }
    .still_have_questions_button_text p {
        width: 570px; 
    }
    .mail_box_img_vb1 h3 {
        line-height: 29px;
        font-size: 20px;
        color: black;
    }
    .mail_box_img_vb {
        
        font-size: 17px;
        
    }
    .enter__button_1 {
        font-size: 14px;
        padding-left: 25px;
        border-radius: 50px;
        width: 230px;
        height: 40px;
    }
    .enter__vb {
        width: 270px;
        font-size: 10px;
        text-align: center;
        list-style: none;
    }
    .footer__store {
        font-size: 10px;
        
    }
}
@media only screen  and (max-width: 750px){
    .still_have_questions_button_text {
        padding-left: 40px;
    }
    .mail_box {
        display: block;
        margin-bottom: 20px
    }
    .enter__button {
        padding-left: 0;
        margin: 0 auto;
        width: 89%;
    }
    .button {
        justify-content: center;
    }
    
    .enter__button_1 {
        font-size: 15px;
        padding-left: 26px;
        border-radius: 50px;
        width: 350px;
        height: 30px;
        margin-left: 20px;
    }
    .enter__vb {
        font-size: 15px;
        width: 100%;
        text-align: center;
    }
    .mail_box_img {
        display: block;
    }
    .mail_box_header {
        padding-left: 75px;
        flex: 2;
        text-align: center;
    }
}

@media only screen  and (max-width: 685px){
    .Banner_title{
        top: 180px;
    }
    .Banner_title-1{
        font-size: 20px;
    }
    .Banner_title-text{
        font-size: 8px;
    }
    .Banner_title-text1{
        font-size: 8px;
    }
    .Banner-button {
        font-size: 7px;
    }
    .Banner-button i{
        padding: 2px;
    }
    .header__navbar-logo1{
        margin-left: -55px;
    }
    .header__navbar_menu_mobile{
        width: 220px;
    }
    .header__navbar-item_mobile{
        font-size: 15px;
    }
    .navbar_menu_mobile_close{
        width: 15px;
        height: 15px;
    }
    .what_you_get_layout{
        display: block;
    }
    .what_you_get_layout p{
        padding: 0 130px 0 130px;
    }
    .as_seen_on_img{
        padding-left: 130px;
    }
    .as_seen_on_banner_title {
        top: 25px;
        padding-left: 60px;
    }
    .as_seen_on_banner_title_text {
        font-size: 8px;
        line-height: 11px;
        width: 230px;
        margin-top: -10px;
    }
    .as_seen_on_button button {
        height: 20px;
        width: 80px;
        font-size: 8px;
        border: 1px solid #10592e;
    }
    
    .our_process_img{
        padding-left: 55px;
    }
    .our_process_img img {
        width: 255px;
    }
    .our_process_title {
        margin-left: 30px;
        margin-top: 75px;
    }
    .our_process_title h1{
        font-size: 32px;
    }
    .our_process_text_p2{
        padding-top: 5px ;
    }
    .our_process_text{
        font-size: 11.5px;
        width: 230px;
    }
    .our_process_button button{
        border: 1.5px solid #10592e;
        height: 30px;
        width: 120px;
        font-size: 11px;
    }
    .still_have_questions_button_text_button {
        
        font-size: 15px;
        width: 500px;
        height: 45px;
    }
    .still_have_questions_button_text h3 {
        font-size: 17px;
        width: 490px;
    }
    .still_have_questions_button_text img {
        width: 490px;
    }
    .still_have_questions_button_text p {
        width: 430px; 
    }
    .still_have_questions_button_text {
        padding-left: 70px;
    }
    .footer__store {
        font-size: 8.6px;
        
    }
    
}
@media only screen  and (max-width: 615px){
    .still_have_questions_button_text {
        padding-left: 25px;
        
    }
    .footer__store {
        display: block;
        text-align: center;
        font-size: 10px;
    }
    .footer__header2{
        padding-left: 40px;
    }
    .footer__header1{
        padding-left: 40px;
    }
} 
@media only screen  and (max-width: 570px){
    .Banner_title{
        top: 170px;
        line-height: 10px;
    }
    .Banner_title-1{
        font-size: 15px;
    }
    .Banner_title-text{
        font-size: 6px;
    }
    .Banner_title-text1{
        font-size: 6px;
    }
    .Banner-button {
        font-size: 5px;
    }
    .Banner-button i{
        padding: 2px;
    }
    .header__navbar-logo1{
        margin-left: -55px;
    }
    .header__navbar_menu_mobile{
        width: 160px;
    }
    .header__navbar-item_mobile{
        font-size: 12px;
        margin-left: -25px;
    }
    .navbar_menu_mobile_close{
        width: 12px;
        height: 12px;
    }
    .what_you_get_layout{
        display: block;
    }
    .what_you_get_layout p{
        padding: 0 100px 0 100px;
    }
    .as_seen_on_img{
        padding-left: 125px;
    }
    .as_seen_on_banner_title {
        top: 10px;
        padding-left: 35px;
    }
    .as_seen_on_banner_title_1 {
        font-size: 20px;
    }
    .as_seen_on_banner_title_text {
        font-size: 6px;
        line-height: 10px;
        width: 190px;
        margin-top: -10px;
    }
    .as_seen_on_button button {
        height: 15px;
        width: 65px;
        font-size: 6px;
        border: 0.5px solid #10592e;
    }
    .our_process{
        display: block;
    }
    .our_process_img{
        padding-left: 90px;
    }
    .our_process_img img {
        width: 330px;
    }
    .our_process_title {
        margin-left: 90px;
        top: -30px;
    }
    .our_process_title h1{
        font-size: 32px;
    }
    .our_process_text_p2{
        padding-top: 5px ;
    }
    .our_process_text{
        font-size: 11.5px;
        width: 320px;
    }
    .our_process_button button{
        border: 1px solid #10592e;
        height: 25px;
        width: 110px;
        font-size: 11px;
    }
    .still_have_questions h1{
        
        font-size: 35px;
    }
    .still_have_questions p{
        color: rgb(110, 110, 110);
        font-size: 13px;
        line-height: 17px;
        margin-top: -15px;
    }
    .still_have_questions_button_text_button {
        
        font-size: 13px;
        width: 300px;
        height: 37px;
    }
    .still_have_questions_button_text h3 {
        font-size: 14px;
        width: 290px;
    }
    .still_have_questions_button_text img {
        width: 290px;
    }
    .still_have_questions_button_text p {
        width: 250px;
    font-size: 13px;
    }
    .still_have_questions_button_text {
        padding-left: 80px;
    }
    .still_have_questions_button_text h3 i {
        font-size: 14px;
        float: right;
    }
    .enter__button_1 {
        width: 300px;
        height: 46px;
        margin-left: 10px;
    }

}
@media only screen and (max-width: 499px){

    .still_have_questions_button_text {
            padding-left: 45px;
    }
    
}
@media only screen  and (max-width: 412px){
    .Banner_title{
        top: 170px;
        line-height: 10px;
    }
    .Banner_title-1{
        font-size: 13px;
    }
    .Banner_title-text{
        font-size: 5px;
    }
    .Banner_title-text1{
        font-size: 5px;
    }
    .Banner-button {
        font-size: 4px;
        padding-left:5px ;
        padding-top: 2px;
        padding-bottom: 2px;
        top:2px;
    }
    .Banner-button i{
        padding: 1px;
    }
    .header__navbar-logo1{
        margin-left: -85px;
    }
    .header__navbar_menu_mobile{
        width: 140px;
    }
    .header__navbar-item_mobile{
        font-size: 10px;
        margin-left: -25px;
    }
    .navbar_menu_mobile_close{
        width: 10px;
        height: 10px;
    }
    .what_you_get_layout{
        display: block;
    }
    .what_you_get_layout p{
        padding: 0 70px 0 70px;
    }
    .as_seen_on_img{
        padding-left: 75px;
    }
    .as_seen_on_banner_title {
        top: 20px;
        padding-left: 30px;
    }
    .as_seen_on_banner_title_1 {
        font-size: 17px;
        line-height: 13px;
    }
    .as_seen_on_banner_title_text {
        font-size: 6px;
        line-height: 7px;
        width: 160px;
        margin-top: -8px;
    }
    .as_seen_on_button{
        margin-top: -10px;
    }
    .as_seen_on_button button {
        height: 10px;
        width: 46px;
        font-size: 5px;
        border: 0.5px solid #10592e;

    }
    .our_process_img {
        padding-left: 40px;
        margin-top: 35px;
    }
    .our_process_img img {
        width: 300px;
    }
    .our_process_title {
        margin-left: 40px;
        top: -30px;
    }
    .parent_approved_conten_title h1 {
        color: black;
        font-size: 35px;
        width: 290px;
        margin-left: -66px;
    }
    .parent_approved_conten_title p {
        color: rgb(110, 110, 110);
        font-size: 12px;
        width: 283px;
         margin-left: -60px;
    }
    .still_have_questions h1{
        
        font-size: 30px;
    }
    .still_have_questions p{
        color: rgb(110, 110, 110);
        font-size: 11px;
        line-height: 16px;
        margin-top: -15px;
    }
    .still_have_questions_button_text_button {
        font-size: 11px;
        width: 255px;
        height: 35px;
    }
    .still_have_questions_button_text p {
        width: 230px;
        font-size: 11px;
    }
    .still_have_questions_button_text h3 {
        font-size: 11px;
        width: 240px;
    }
    .still_have_questions_button_text img {
        width: 270px;
    }
    .still_have_questions_button_text h3 i {
        font-size: 13px;
        float: right;
    }
    .enter__button_1 {
        width: 200px;
        height: 40px;
        margin-left: 10px;
    }
    li.footer__header {
       
        font-size: 10px;
    }
}
